<nav id="navbar" class="nav-menu navbar">
    <ul>
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <li><a href="{{ path('darts') }}" class="nav-link {% if app.request.attributes.get('_route') == 'darts' %}active{% endif %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="{{ path('profile') }}" class="nav-link {% if app.request.attributes.get('_route') == 'profile' %}active{% endif %}"><i class="bx bx-user-circle"></i> <span>Profile</span></a></li>
            <li><a href="{{ path('new-game') }}" class="nav-link {% if app.request.attributes.get('_route') == 'new-game' %}active{% endif %}"><i class="bx bx-play-circle"></i> <span>New Game</span></a></li>
            <li><a href="{{ path('player') }}" class="nav-link {% if app.request.attributes.get('_route') == 'player' %}active{% endif %}"><i class="bx bx-user"></i> <span>Manage Player</span></a></li>
            <li><a href="{{ path('user') }}" class="nav-link {% if app.request.attributes.get('_route') == 'user' %}active{% endif %}"><i class="bx bx-user-circle"></i> <span>Manage User</span></a></li>
            <li><a href="{{ path('settings') }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings' %}active{% endif %}"><i class="bx bx-cog"></i> <span>Settings</span></a></li>
        {% endif %}

        {% if 'ROLE_ASSOCIATE' in app.user.roles %}
            <li><a href="{{ path('darts') }}" class="nav-link {% if app.request.attributes.get('_route') == 'darts' %}active{% endif %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="{{ path('profile') }}" class="nav-link {% if app.request.attributes.get('_route') == 'profile' %}active{% endif %}"><i class="bx bx-user-circle"></i> <span>Profile</span></a></li>
            <li><a href="{{ path('new-game') }}" class="nav-link {% if app.request.attributes.get('_route') == 'new-game' %}active{% endif %}"><i class="bx bx-play-circle"></i> <span>New Game</span></a></li>
            <li><a href="{{ path('player') }}" class="nav-link {% if app.request.attributes.get('_route') == 'player' %}active{% endif %}"><i class="bx bx-user"></i> <span>Manage Player</span></a></li>
            <li><a href="{{ path('settings') }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings' %}active{% endif %}"><i class="bx bx-cog"></i> <span>Settings</span></a></li>
        {% endif %}

        {% if 'ROLE_PLAYER' in app.user.roles %}
            <li><a href="{{ path('darts') }}" class="nav-link {% if app.request.attributes.get('_route') == 'darts' %}active{% endif %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="{{ path('profile') }}" class="nav-link {% if app.request.attributes.get('_route') == 'profile' %}active{% endif %}"><i class="bx bx-user-circle"></i> <span>Profile</span></a></li>
            <li><a href="{{ path('new-game') }}" class="nav-link {% if app.request.attributes.get('_route') == 'new-game' %}active{% endif %}"><i class="bx bx-play-circle"></i> <span>New Game</span></a></li>
            <li><a href="{{ path('settings') }}" class="nav-link {% if app.request.attributes.get('_route') == 'settings' %}active{% endif %}"><i class="bx bx-cog"></i> <span>Settings</span></a></li>
        {% endif %}
    </ul>
</nav>